<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/Nikola/IdeaProjects/New/API-project-api4">
        <classes>
            <class name="tests.UsersTest">
                <methods>
                    <include name="getUsersTest"/>
                    <include name="getUsersUsingJsonPathTest"/>
                    <include name="getUsersByIdTest"/>
                    <include name="deleteUsersByIdTest"/>
                    <include name="createUserTest"/>
                    <include name="createUserUsingJavaObjectTest"/>
                </methods>
            </class>
            <class name="tests.demoTestNG">
                <methods>
                    <include name="test1"/>
                    <include name="test2"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>